@media (max-width:1020px) {
    nav, .header-link {
        display: none;
    }
    .hamburger{
        display: initial;
    }
    .mobile-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        display: block;
        width: 80%;
        background-color: white;
        right: -100% ;
        height: 100vh;
    }
    .mobile-menu ul{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
    }
    .first-section{
        height: auto;
        grid-template-columns:calc(100% - 210px) auto;
    }
    .first-bg{
        height: calc(100vh - 210px);
    }
    .first-logo-bar{
        padding: 45px 0;
        height: auto;
    }
    .first-logo-bar .container div{
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
        gap: 64px;  
    }
    
    .third-section{
        height: auto;
    }
   
    .third-section-blocks{
        /* padding-top: 65px; */
        height: auto;
        grid-template-columns: 1fr 1fr;
    }
    .third-section-blocks{
        margin: 81px 22px 22px ;
    }
   
    .fourth-section{
        height: auto;   
    }
    .fourth-section-blocks{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px;
    }
    .fifth-section-blocks{
        height: auto;
        grid-template-columns: 1fr;
    }
    footer .footer-up{
        display: flex;
        flex-direction: column;
    }
    .footer-up-right{
        margin-top: 25px;
    }
}
@media (max-width:550px) {
    .first-bg{
        background: #F6BED9;
    }
    .start-text-slogan{
        font-size: 14px;
    }
    .start-text h1{
        font-size: 22px;
        line-height: 25px;
    }
    .start-text span{
        font-size: 14px;
    }
    .start-text-description {
        height: auto;
        max-width: 282px;
        width: 100%;
        /* display: inline; */
    }
    .second-section img{
        display: none;
    }
    .second-section-links{
        flex-direction: column;
        margin-top: 50px;
        height: auto;
    }
    .second-section h2{
        font-size: 18px;
    }
    .second-section span{
        font-size: 14px;
    }
    .second-section-links a{
        font-size: 15px;
        padding: 11px 45px 14px;
    }
    .third-section h2{
        font-size: 18px;
    }
    .third-section-blocks{
        /* padding-top: 65px; */
        height: auto;
        grid-template-columns: 1fr;
    }

    .third-section span{
        font-size: 14px;
    }
    .third-section-blocks h3{
        padding: 42px 0 16px;
        font-size: 19px;
    }
    .third-section-blocks span{
        font-size: 15px;
    }
    .fourth-section h2{
        font-size: 18px;
    }
    .fifth-section h2{
        font-size: 18px;
    }
    .fifth-section span{
        font-size: 14px;
    }
    footer .footer-up,.footer-column{
        display: flex;
        flex-direction: column;
    }
    .footer-up-right{
        margin-top: 25px;
    }
    footer h4{
        font-size: 16px;
    }
    footer li{
        font-size: 14px;
    }
}